@import '../../../define.scss';
.index-pages-content{
    background-color: $wechat-body-background;
    .contact{
        width: 100%;
        .label{
            height: 30px;
            line-height: 30px;
            margin: 0 10px;
        }
        .user-wrap{
            background-color: #fff;
            .avatar{
                width: 40px;
                margin: 10px 20px;
                vertical-align: middle;
            }
            .name{
                vertical-align: middle;
            }
            hr{
                margin: 0 20px;
                border:none;
                padding: 0;
                height: 0px;
                border-top: 1px solid $wechat-foot-button-border-light;
            }   
        }  
    }
    .touchbar{
        position: fixed;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) scale(0.7);
        a{
            color: #000;
            display: block;
            font-size: 8px;
            text-align: center;
        }
    }
}
