<div class="index-pages-content">
    <div class="me" (touchstart)="grey($event)" (touchend)="normal($event)">
        <div class="meSetting clearfix section alone">
            <img class="left" src="{{imgBaseUrl}}avatar/me.jpg" alt=""/>
            <div class="middle">
                <div class="m1">好命先生</div>
                <div class="m2">微信号: luck_man</div>
            </div>
            <img src="{{imgBaseUrl}}me/erweima.png" alt="" class="right">
        </div>
        <div class="alone qianbao section">
            <img src="{{imgBaseUrl}}me/qianbao.png" alt="">
            <span class="text">钱包</span>
        </div>
        <div class="shoucang section">
            <img src="{{imgBaseUrl}}me/shoucang.png" alt="">
            <span class="text">收藏</span>
            <hr>
        </div>
        <div class="xiangce section">
            <img src="{{imgBaseUrl}}me/xiangce.png" alt="">
            <span class="text">相册</span>
            <hr>
        </div>
        <div class="kabao section">
            <img src="{{imgBaseUrl}}me/kabao.png" alt="">
            <span class="text">卡包</span>
            <hr>
        </div>
        <div class="biaoqing section">
            <img src="{{imgBaseUrl}}me/biaoqing.png" alt="">
            <span class="text">表情</span>
        </div>
        <div class="alone shezhi section">
            <img src="{{imgBaseUrl}}me/shezhi.png" alt="">
            <span class="text">设置</span>
        </div>
    </div>
</div>