<div class="index-pages-content">
  <div class="discover" (touchstart)="grey($event)" (touchend)="normal($event)">
    <div class="alone pengyouquan section">
      <img src="{{imgBaseUrl}}discover/pengyouquan.png" alt="">
      <span class="text">朋友圈</span>
    </div>
    <div class="alone saoyisao section">
      <img src="{{imgBaseUrl}}discover/saoyisao.png" alt="">
      <span class="text">扫一扫</span>
    </div>
    <div class="kanyikan section">
      <img src="{{imgBaseUrl}}discover/kanyikan.png" alt="">
      <span class="text">看一看</span>
      <hr/>
    </div>
    <div class="souyisou section">
      <img src="{{imgBaseUrl}}discover/souyisou.png" alt="">
      <span class="text">搜一搜</span>
    </div>
    <div class="gouwu section" style="margin-top:20px">
      <img src="{{imgBaseUrl}}discover/gouwu.png" alt="">
      <span class="text">购物</span>
      <hr/>
    </div>
    <div class="youix section">
      <img src="{{imgBaseUrl}}discover/youxi.png" alt="">
      <span class="text">游戏</span>
    </div>
    <div class="alone xiaochengxu section">
      <img src="{{imgBaseUrl}}discover/xiaochengxu.png" alt="">
      <span class="text">小程序</span>
    </div>
  </div>
</div>