.footer{
    width: 100%;
    height: 65px;
    position:fixed;
    z-index: 1;
    bottom: 0;
    border-top: 1px solid #BABABA;
    background-color: white;
    .page{
        width: 25%;
        float: left;
        text-align: center;
    }
    img{
        height: 30px;
        line-height: 40px;
        margin-top: 5px;
    }
    .page>div{
        height: 35px;
    }
    .unread-tip{
        left:60px;
    }
}