<div class="search-page">
  <div class="search-header">
    <div class="back" (click)="runBack()" (touchstart)="changeGrey($event)">
      <img src="/assets/images/back.png" alt="">
    </div>
    <div class="search">
      <input type="text" placeholder="搜索" />
    </div>
  </div>
  <div class="body">
    <div class="tip">搜索指定内容</div>
    <div class="row">
      <div class="col-4">朋友圈</div>
      <div class="col-4">文章</div>
      <div class="col-4">公众号</div>
      <div class="col-4">小说</div>
      <div class="col-4">音乐</div>
      <div class="col-4">表情</div>
      <div class="col-4" (touchend)="reset()">重置</div>
    </div>
  </div>
</div>