<div>
    <div class="chat-list index-pages-content">
        <a *ngFor="let user of userList; let i = index;" class="chat-item" [ngClass]="{'zhiding':user.zhiding}" [routerLink]="['/chatDetail',user.id,user.name,user.avatar,user.unread]">
            <div class="clearfix item-core" (touchstart)="changeBackground($event)" (touchend)="backgroundNormal($event)">
                <div [hidden]="user.unread<=0||user.miandarao" class="unread-tip">{{user.unread}}</div>
                <div [hidden]="user.unread<=0||!user.miandarao" class="unread-small"></div>
                <img src="{{imgUrl}}{{user.avatar}}" alt="">
                <div class="chat-row">
                    <div class="font-18 bold black-font">{{user.name}}</div>
                    <div class="grey-font font-14">{{user.text}}</div>
                </div>
                <div class="chat-time grey-font">{{user.time}}</div>
            </div>
        </a>
    </div>
</div>