<div class="chat-list index-pages-content" [@routeAnim]='void'>
    <div *ngFor="let user of userList$ | async; let i = index;" class="chat-item">
        <div class="clearfix">
            <img src="{{user.avatar}}" alt="">
            <div class="chat-row">
                <div class="font-18 bold">{{user.name}}</div>
                <div class="grey-font font-14">{{user.text}}</div>
            </div>
            <div class="chat-time grey-font">{{user.time}}</div>
        </div>
        <hr>
    </div>
</div>