.chat-item{
    width: 100%;
    height: 60px;
    img{
        width: 50px;
        float: left;
        border-radius: 5px;
        margin-right: 10px;
    }
    .chat-row{
        float: left;
        width: 40%;
    }
    .chat-time{
        float: right;
    }
    hr{
        width: 100%;
        margin-top: 10px;
        height: 1px;
    }
    .clearfix{
        margin: 10px;
    }
}