<div class="chat-detail-footer">
    <img class="voice" src="./assets/images/footer/{{voicePic}}.png" (click)="changeTxt()">
    <div [hidden]="!isTalk" id="talk-wrap" class="talk">按住 说话</div>
    <div [hidden]="isTalk" class="text" id="footerIpt">
        <input #txt type="text" />
    </div>
    <img class="more" src="./assets/images/footer/more.png" (click)="showMore()">
    <img class="face" src="./assets/images/footer/{{emojiPic}}.png" (click)="showEmoji()">
    <div [hidden]="!showMicroPhone" class="center-css3 talk-microPhone">
        <div class="talk-microPhone-top">
            <img src="./assets/images/voice.png" alt="">
            <div class="min-voice"></div>
        </div>
        <div class="text">手指上滑,取消发送</div>
    </div>
</div>
<!-- 表情这块懒得做了,直接加载个图片了,所以取个名字叫lazy,鄙视自已一下下,😄 -->
<div class="lazy" [ngStyle]="{'z-index':showEmojiPanel ? '1' : '0' }">
    <img src="./assets/images/lazy.png" alt="">
</div>
<!--TODO:bug001:[innerHTML]="boxContent()" 写在more-panel 标签中时无法触发touchend事件,不知原因,因此先写死html吧-->
<div class="more-panel" [ngStyle]="{'z-index':!showEmojiPanel ? '1' : '0','height':height+'px' }">
    <div class="panel-container clearfix" style="position:absolute;top:0;right:000%">
        <div class="box">
            <img src="./assets/images/more-panel/xiangce.png" alt="">
            <div class="text">相册</div>
        </div>
        <div class="box">
            <img src="./assets/images/more-panel/paishe.png" alt="">
            <div class="text">拍摄</div>
        </div>
        <div class="box">
            <img src="./assets/images/more-panel/shipintonghua.png" alt="">
            <div class="text">视频通话</div>
        </div>
        <div class="box">
            <img src="./assets/images/more-panel/weizhi.png" alt="">
            <div class="text">位置</div>
        </div>
        <div class="box">
            <img src="./assets/images/more-panel/hongbao.png" alt="">
            <div class="text">红包</div>
        </div>
        <div class="box">
            <img src="./assets/images/more-panel/zhuanzhang.png" alt="">
            <div class="text">转账</div>
        </div>
        <div class="box">
            <img src="./assets/images/more-panel/yuyinshuru.png" alt="">
            <div class="text">语音输入</div>
        </div>
        <div class="box">
            <img src="./assets/images/more-panel/mingpian.png" alt="">
            <div class="text">名片</div>
        </div>
    </div>
    <div class="panel-container clearfix" style="position:absolute;top:0;right:100%">
        <div class="box">
            <img src="./assets/images/more-panel/wodeshoucang.png" alt="">
            <div class="text">我的收藏</div>
        </div>
        <div class="box">
            <img src="./assets/images/more-panel/wenjian.png" alt="">
            <div class="text">文件</div>
        </div>
    </div>
</div>