@import '../../../../define.scss';
.chat-detail-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #D9D9D9;
    height: 50px;
    background-color: $wechat-foot-background;
    .voice,.face,.more{
        width: 35px;
        height: 35px;
        margin-top: 7.5px;
        margin-left:10px;
        border: 1px solid $wechat-foot-button-border;
        border-radius: 50%;
        float: left;
        padding: 5px;
    }
    .face{
        border: none;
        float:right	;
        width: 40px;
        height: 40px;
        margin-top: 6px;
        margin-right: -2px;
        margin-left: 0px;
        padding: 0;
        img{
            padding: 0;
        }
    }
    .face-keyboard-border{
        border: 1px solid $wechat-foot-button-border;
        width: 35px;
        height: 35px;
        padding: 5px;
        margin-top: 7.5px;
        margin-right: 0px;
    }
    .text{
        float: left;
        input{
            border: none;
            border-bottom: 1px solid #D8D8D8;
            line-height: 35px;
            height: 35px;
            margin-top: 7.5px;
            margin-left:5px;
            font-size: 18px;
            width: 100%;
            background-color: $wechat-foot-background;
        }
        input:focus{
            outline: none;
            border-bottom: 1px solid $wechat-green;
        }
    }
    .more{
        float:right	;
        margin-right: 10px;
    }
    .talk{
        float: left;
        margin-left: 5px;
        width: 100%;
        border: 1px solid $wechat-foot-button-border-light;
        height: 35px;
        margin-top: 7.5px;
        border-radius: 5px;
        text-align: center;
        color: $wechat-foot-button-text;
        font-size: 18px;
        line-height: 35px;

        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }
    .talk-microPhone{
        width: 200px;
        height: 200px;
        background-color: $wechat-mask-background;
        position: fixed;
        opacity: 0.9;
        border-radius: 5px;
        color:#fff;
        padding: 20px;
        img{
            width: 100px;
            height: 125px;
            float: left;
        }
        .talk-microPhone-top{
            height: 125px;
            position: relative;
            .min-voice:after{
                width: 30px;
                height: 0px;
                content: "";
                position: absolute;
                border-top:15px solid #fff;
                border-right: 10px solid transparent;
                float: right;
                bottom: 2px;
            }
        }  
        .text{
            text-align: center;
            margin-top: 10px;
            float: none;
        }
    }
}
.lazy,.more-panel{
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: $wechat-foot-background;
    img{
        width: 100%;
    }
    .box-wrap{
        /*overflow-x: scroll;*/
    }
    /*由于bug001,此段scss失效*/
    .panel-container{
        border-top: 1px solid $wechat-foot-button-border-light;
        padding: 20px 30px 10px 30px;
        .box{
            float: left;
            width: 20%;
            margin: 2.5%;
            img{
                width: 100%;
                border: 1px solid #d6d6d6;
                padding: 15px;
                border-radius: 15px;
                background-color: #FCFCFC;
            }
            .text{
                color: $wechat-foot-more-btn-color;
                text-align: center;
                font-size: 14px;
            }
        }
    }
    .more-panel-dot{
        text-align: center;
        .dot{
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #FCFCFC;
            display: inline-block;
            margin: 8px;
        }
        .active{
            background-color: #DBDBDB;
        }
    }
}