<div class="chat-detail-footer">
    <img class="voice" src="./assets/images/footer/{{voicePic}}.png" (click)="changeTxt()">
    <div [hidden]="!isTalk" id="talk-wrap" class="talk">按住 说话</div>
    <div [hidden]="isTalk" class="text" id="footerIpt">
        <input #txt type="text" />
    </div>
    <img class="more" src="./assets/images/footer/more.png" (click)="showMore()">
    <img class="face" src="./assets/images/footer/{{emojiPic}}.png" (click)="showEmoji()">
    <div [hidden]="!showMicroPhone" class="center-css3 talk-microPhone">
        <div class="talk-microPhone-top">
            <img src="./assets/images/voice.png" alt="">
            <div class="min-voice"></div>
        </div>
        <div class="text">手指上滑,取消发送</div>
    </div>
</div>
<!-- 表情这块懒得做了,直接加载个图片了,所以取个名字叫lazy,鄙视自已一下下,😄 -->
<div class="lazy" [ngStyle]="{'z-index':showEmojiPanel ? '1' : '0' }">
    <img src="./assets/images/lazy.png" alt="">
</div>
<div class="more-panel" [ngStyle]="{'z-index':!showEmojiPanel ? '1' : '0','height':height+'px' }">
    <div class="panel-container clearfix">
        <div *ngFor="let btn of morePanelBtns; let i = index;">
            <div *ngIf="i%8===0; else elseBlock">
                <div class="box">
                    <img src="./assets/images/more-panel/{{btn[0]}}.png" alt="">
                    <div class="text">{{btn[1]}}</div>
                </div>
            </div>
            <ng-template #elseBlock>{{i}}</ng-template>
        </div>
    </div>
</div>