.chat-detail{
    .header{
        .uname{
            position: absolute;
            top: 0;
            left: 50px;
            color: white;
            line-height: 50px;
            font-size: 26px;
        }  
    }
    .body{
        .left-msg{
            text-align: left;
        }
        .right-msg{
            text-align: right;
        }
    }
}
