<div class="chat-detail">
    <div class="header">
        <app-header-button [imgSrc]="imgBack" [href]="backHref"></app-header-button>
        <div class="uname">{{uname}}</div>
        <app-header-button [imgSrc]="imgMore" [href]="hrefMore" [style]="styleMore"></app-header-button>
    </div>
    <div class="body background">
        <ul>
            <ng-container *ngFor="let chats of chatBody;let n=index;">
                <li class="center-text">
                    <div *ngIf="chatTime.length>0" class="time">{{chatTime[n]}}</div>
                    <ul>
                        <ng-container *ngFor="let msg of chats">
                            <li *ngIf="msg[0]==='from'; else elseBlock" class="clearfix left">
                                <img class="avatar" src="{{imgUrl}}{{friendAvatar}}" alt="" />
                                <div class="msg">
                                    <div *ngIf="isImg(msg[1]); else img">
                                        <img class="emoji" src="{{msg[1]}}" alt="" />
                                    </div>
                                    <ng-template #img>
                                        {{msg[1]}}
                                    </ng-template>
                                </div>
                            </li>
                            <ng-template #elseBlock>
                                <li class="clearfix right">
                                    <img class="avatar" src="./assets/images/avatar/me.jpg" alt="" />
                                    <div class="msg">
                                        <div *ngIf="isImg(msg[1]); else img">
                                            <img class="emoji" src="{{msg[1]}}" alt="" />
                                        </div>
                                        <ng-template #img>
                                            {{msg[1]}}
                                        </ng-template>
                                    </div>
                                </li>
                            </ng-template>
                        </ng-container>
                    </ul>
                </li>
            </ng-container>
        </ul>
    </div>
    <app-chat-detail-footer></app-chat-detail-footer>
</div>