<app-red-envelope-header></app-red-envelope-header>
<div class="red-envelope-body">
    <div class="red-text-container clearfix">
        <div class="text" style="float:left;">单个金额</div>
        <div class="text">元</div>
        <input type="text" placeholder="0.00">
    </div>
    <div class="red-text-container clearfix">
        <div class="text" style="float:left;">留言</div>
        <input type="text" placeholder="恭喜发财,大吉大利" style="padding-right:15px;">
    </div>
    <div class="money">
        <span>¥</span>
        <span>{{number}}</span>
    </div>
    <a class="sendMoney">塞钱进红包</a>
</div>
<app-red-envelope-footer></app-red-envelope-footer>