$wechat-green: #A1E85A;
$wechat-foot-button-border:#989898;

$wechat-foot-button-border-light:#D8D8D8;
$wechat-foot-button-text:#878787;

$wechat-mask-background:#696969;

$wechat-btn-click:#E2E2E2;

$wechat-foot-background:#f3f3f3;
$wechat-foot-more-btn-color:#7D8184;