@import './define.scss';
*{
    font-family: "Microsoft YaHei";
    box-sizing: border-box;
}
a:active {color: black}
a:visited {color: black }
.header{
    width:100%;
    height:50px;
    background-color:#1D1C1F;
}
.clearfix:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.grey-font{
    color: #BABABA;
}
.black-font{
    color: #000;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.font-18{
    font-size: 18px;
}
.bold{
    font-weight: bold;
}
.index-pages-content{
    width:100%;
    position: absolute;
    top: 50px;
    bottom: 65px;
    overflow: auto;
}
body{
    overflow-x: hidden;
}
.header{
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1;
}
.center-text{
    text-align: center;
}
.background{
    background-color: #EBEBEB;
}
.center-css3 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 
}


app-chat-detail{
    overflow: hidden;
}


/*对应bug001*/
.panel-container{
    border-top: 1px solid $wechat-foot-button-border-light;
    padding: 20px 30px 10px 30px;
    .box{
        float: left;
        width: 20%;
        margin: 2.5%;
        img{
            width: 100%;
            border: 1px solid #d6d6d6;
            padding: 15px;
            border-radius: 15px;
            background-color: #FCFCFC;
        }
        .text{
            color: $wechat-foot-more-btn-color;
            text-align: center;
            font-size: 14px;
        }
    }
}